--find-links=https://girder.github.io/large_image_wheels GDAL
folium
geemap
geopandas
html5lib
ipykernel
leafmap
lxml
mapclassify
matplotlib
matplotlib
mkdocs-blog-plugin
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-jupyter
mkdocs-material
mkdocs-pdf-export-plugin
mkdocstrings
numpy
pandas
Pyomo
SciPy
seaborn